
<br>
<h3>
    Tabla de estudiantes
</h3>
<br>
<div class="row">
    <div class="col-2"></div>
        <div class="col-2 border-left">id_estudiantes</div>
        <div class="col-2 border-left">nombre</div>
        <div class="col-2 border-left">edad</div>
        <div class="col-2 border-left">correo</div>
    <div class="col-2 border-left "></div>
</div>
<br>
{{#each estu}}
<div class="row">
    <div class="col-2"></div>
        <div class="col-2 border-top">{{id_estudiantes}}</div>
        <div class="col-2 border-top">{{nombre}}</div>
        <div class="col-2 border-top">{{edad}}</div>
        <div class="col-2 border-top">{{correo}}</div>
    <div class="col-2  "></div>
</div>
{{/each}}