<div class="row">
    <div class="col-4"></div>
    <div class="col-4 border">
        <h1>vista 3</h1><br>
        <form action="../parcial/vista4" method="post">
                <div class="form-group">
                    <label for="exampleInputEmail1">digite un numero </label>
                    <input  class="form-control" id="numero" aria-describedby="emailHelp" placeholder="">
                    <small id="emailHelp" class="form-text text-muted"></small>
                </div>
                <button type="submit" class="btn btn-primary">enviar</button>
        </form><br>

    <div class="col-4"></div>



</div>