<div class="row border">
    <div class="col-4"></div>
    <div class="col-4">
        <h1>vista 5</h1>
    </div>
    <div class="col-4"></div>



</div><br>

<div class="row">
    
<div class="col-4">

 <div class="card" style="width: 18rem;">
  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTHGRs87fU2YAdH7M_y580i6qJKX9UtC8PAdGUIGSpaljkBkqnQ" class="card-img-top" alt="...">
  <div class="card-body">
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div><br>

 <div class="card" style="width: 18rem;">
  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTHGRs87fU2YAdH7M_y580i6qJKX9UtC8PAdGUIGSpaljkBkqnQ" class="card-img-top" alt="...">
  <div class="card-body">
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div><br>
</div>


<div class="col-4">

 <div class="card" style="width: 18rem;">
  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTHGRs87fU2YAdH7M_y580i6qJKX9UtC8PAdGUIGSpaljkBkqnQ" class="card-img-top" alt="...">
  <div class="card-body">
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div><br>

 <div class="card" style="width: 18rem;">
  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTHGRs87fU2YAdH7M_y580i6qJKX9UtC8PAdGUIGSpaljkBkqnQ" class="card-img-top" alt="...">
  <div class="card-body">
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div><br>  
</div>


<div class="col-4">

 <div class="card" style="width: 18rem;">
  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTHGRs87fU2YAdH7M_y580i6qJKX9UtC8PAdGUIGSpaljkBkqnQ" class="card-img-top" alt="...">
  <div class="card-body">
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div><br>
 <div class="card" style="width: 18rem;">
  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTHGRs87fU2YAdH7M_y580i6qJKX9UtC8PAdGUIGSpaljkBkqnQ" class="card-img-top" alt="...">
  <div class="card-body">
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div><br>
</div>

</div>