<div class="row col-md-4 mx-auto">
<form action="/links/add" method="post">
  <div class="form-group">
    <label for="exampleInputEmail1">digite un numero impar</label>
    <input type="email" class="form-control" id="numero" aria-describedby="emailHelp" placeholder="">
    <small id="emailHelp" class="form-text text-muted"></small>
  </div>
  <button type="submit" class="btn btn-primary">enviar</button>
</form>
</div>
