<br>
<h3>
    Tabla de periodo academico
</h3>
<br>
<div class="row">
    <div class="col-2"></div>
        <div class="col-4 border-left">id_pediodo</div>
        <div class="col-4 border-left">periodo</div>
    <div class="col-2 border-left "></div>
</div>
<br>
{{#each perc}}
<div class="row">
    <div class="col-2"></div>
        <div class="col-4 border-top">{{id_pediodo}}</div>
        <div class="col-4 border-top">{{periodo}}</div>
    <div class="col-2  "></div>
</div>
{{/each}}